* {
  margin: 0;
  padding: 0;
}
body{
  background: #eee;
  font-family: tahoma;
}

#appWrapper{
  #wrapperOne {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    border-top: 3px solid #7f4cc1;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
    color: #333;
    p{
      color: #777;
      font-style: italic;
    }

    ul{
      list-style-type: none;
      padding: 0;
    }
  }
}

